.id .id-wrap {
    display: flex;
    flex-direction: column ;
    text-align: center;
}
.id .id-wrap form {
display: flex;
flex-direction: column;
margin-top: 3.3333vw;
}
.id .id-wrap form {
    margin-top: 40px;
}
.id-wrap form input {
    border-radius: 0.5208vw;
    width: 22.9167vw;
    height : 3.6458vw;
    padding : 1.2500vw 1.8750vw;
    border: 0.0521vw solid var(--gray);
    margin-bottom: 0.9375vw;
}
.id .id-wrap form .link_wrap::before {
    content : '';
    height: 0.0521vw;
    width: 100%;
    display: block;
    background: #e7e7e7;
    position: absolute;
    top:1.3542vw;
    right : 0;
}
.id .id-wrap form .link_wrap {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 2.6042vw;
    padding-top: 2.8125vw;
}
.id .id-wrap form .link_wrap a {
    color : #4f4f4f;
    position:relative;
}
.id .id-wrap form .link_wrap a::after {
    content :'';
    height: 0.9375vw;
    width: 0.0521vw;
    display: block;
    background: #E7E7E7;
    position: absolute;
    top: 0.2604vw;
    right: -1.3021vw
}
.id .id-wrap form button {
    background-color: #000;
    color: white;
    padding: 1.0417vw 6.8750vw;
    border-radius: 0.4167vw;
    border: none;
    margin-top: 2.8646vw;
    border: 2px solid #000;
}
.id-wrap form button:hover {
    background: #fff;
    color:#000;
}
.link_wrap a:hover {
    font-weight: 500;
}

.id-wrap form h2 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: left;
}
.id .id-wrap .link_wrap a:last-child::after{
    display: none;
}
