:root {
    --gray: #e6e6e6;
}

#join_Membership {
    background: url(/images/sub_images/Loginbg.jpg) no-repeat center / cover;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.join_Membershipbox {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background: #fff;
    padding: 5vw 3.3333vw;
}

.password_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.password_wrap .passtop {
    display: flex;
    justify-content: space-between;
}

.password_wrap img {
    /* width: 110px; */
    height: 20px;
    margin-right: 100px;
    position: absolute;
    left: 20px;
    top: 20px;
}

.password_wrap h3 {
    font-size: 20px;
    font-weight: 600;
}

.password_wrap form {
    display: flex;
    flex-direction: column;
    margin-top: 3.3333vw;
}

.password_wrap tbody tr {
    height: 50px;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.password_wrap tbody tr td {
    vertical-align: middle;
}

.password_wrap tbody tr td label {
    font-size: 15px;
    padding-left: 10px;
    padding-right: 15px;
    font-weight: 500;
}

.password_wrap tbody tr td input {
    border: none;
    padding-left: 15px;
    height: 45px;
}

.password_wrap tbody .tel button {
    background-color: #000;
    color: white;
    border-radius: 0.4167vw;
    border: none;
    height: 25px;
}

.password_wrap tbody .tel button a {
    color: #fff;
    font-size: 11px;
}

.password_wrap .list {
    position: relative;
}

.password_wrap .list ul {
    display: flex;
}

.password_wrap .list ul li {
    box-sizing: border-box;
    margin-top: 5px;
    padding-right: 20px;
    padding-left: 20px;
}

.password_wrap .list ul li a {
    font-size: 16px;
    color: #4f4f4f;
}

.password_wrap .list ul li:not(:last-child) a::after {
    content: '';
    height: 10px;
    width: 1px;
    background: #d4d4d4;
    position: absolute;
    top: 13px;
    margin-left: 17px;
}

.password_wrap .btn {
    cursor: pointer;
}

.password_wrap .btn button {
    background-color: #000;
    color: white;
    padding: 1.0417vw 6.875vw;
    border-radius: 0.4167vw;
    border: none;
    margin-top: 2.8646vw;
    cursor: pointer;
}
